<!DOCTYPE html>
<html lang="en" ng-app="angularExcel">
<head>
	<meta charset="UTF-8">
	<title>Angular and Excel</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="angular-route.min.js"></script>
	<script type="text/javascript" src="xlsx.core.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript">

	</script>
	<style type="text/css">
	* {
		padding: 0px;
		margin: 0px;
	}
	input {
		display: block;
		margin: 10px 20px;
	}
	</style>
</head>
<body>
	<div ng-controller="dataController">
		<p>Upload XLSX file here:</p>
		<input type="file" id="file" name="file">
		<input type="submit" value="Parse" ng-click="newFile()">	
		<div class="workbook" ng-repeat="workbook in datum ">
			<table ng-repeat="sheet in workbook">
			<thead>
				<td ng-repeat="(header, values) in sheet track by $index" ng-bind="header"></td>
			</thead>
			<td></td>
		</table>
		</div>	
	</div>
</body>
</html>